@model TestingTemplates.Models.Robot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Robot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RobDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RobDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RobType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RobType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RobColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RobColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RobStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RobStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RobidPk">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
